{
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"amd": true
	},
	"globals": {
		"require": true
	},
	"rules": {
		"no-use-before-define": ["error", { "functions": false, "classes": false }],
		"no-unused-vars": "error",
		"init-declarations": ["error", "always"],
		"strict": ["error", "function"],
		"yoda": ["error", "always"],
		"no-empty-function": "error",
		"guard-for-in": "error",
		"eqeqeq": ["error", "always"],
		"default-case": "error",
		"curly": ["error", "all"],
		"block-scoped-var": "error",
		"dot-location": ["error", "property"],
		"dot-notation": "error",
		"no-alert": "error",
		"no-multi-spaces": "error",
		"no-redeclare": ["error", { "builtinGlobals": true }],
		"vars-on-top": "error",
		"array-element-newline": ["error", "always"],
		"array-bracket-spacing": ["error", "always"],
		"array-bracket-newline": ["error", { "minItems": 1 }],
		"block-spacing": ["error", "always"],
		"brace-style": ["error", "stroustrup"],
		"comma-dangle": ["error", "always-multiline"],
		"comma-spacing": ["error", { "before": false, "after": true }],
		"comma-style": ["error", "last"],
		"computed-property-spacing": ["error", "always"],
		"func-call-spacing": ["error", "never"],
		"function-paren-newline": ["error", "multiline"],
		"func-style": ["error", "expression"],
		"indent": ["error", 2],
		"keyword-spacing": ["error", { "before": true, "after": true }],
		"object-curly-newline": ["error", "always"],
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
		"semi-spacing": ["error", {"before": false, "after": true}],
		"semi-style": ["error", "last"],
		"space-before-function-paren": ["error", "never"],
		"space-in-parens": ["error", "always"],
		"space-infix-ops": "error",
		"space-unary-ops": [ "error", { "words": true, "nonwords": true, "overrides": { "++": false } } ]
	}
}